.index-body {
    margin: 100px;
}
.h1-login{
    font-weight: bold;
    text-align: center;
}
.buttons {
    text-align: center;
}

.h1-changePassword {
    font-weight: bold;
    text-align: center;
}
