<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Change password page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <h1 class="h1-changePassword">Change password</h1>

    <form method="post" th:action="@{/changePassword}" th:object="${user}">
        <div class="form-group">
            <label for="password">password</label>
        <input type="password" id="password" value="Enter password" th:value="${user.password}"/>
        </div>
            <div class="form-group">
                <label for="newPassword1">new password</label>
        <input type="password" id="newPassword1" value="Enter password again" th:value="${user.newPassword}" />
            </div>
        <div class="form-group">
            <label for="newPassword2">confirm new password</label>
            <input type="password" id="newPassword2" value="Enter password again" th:value="${newPasswordConfirm}" />
        </div>
        <input type="submit" value="Confirm" class="btn btn-success" />

    </form>

<div th:if="${error}">
    You entered the wrong password!
</div>

</div>

</body>
</html>