<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change password page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="C:\Users\salik\IdeaProjects\SWC-obligatorisk-opgave\src\main\resources\static\styleSheet.css"
          th:href="@{styleSheet.css}"/>
</head>
<body>
<form action="#" method="post" th:action="@{/changePassword}" th:object="${newPassword}">
    <div class="container">
        <h1 class="h1-changePassword">Change password</h1>
        <div th:if="${error}">
            <div class="alert alert-danger">
                You entered the wrong password!
            </div>
        </div>
        <div th:if="${matchError}">
            <div class="alert alert-danger">
                Passwords do not match!
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" placeholder="password" th:field="*{oldPassword}"/>
        </div>
        <div class="form-group">
            <label for="newPassword1">New password</label>
            <input type="password" id="newPassword1" class="form-control" placeholder="new password" th:field="*{password1}" />
        </div>
        <div class="form-group">
            <label for="newPassword2">Confirm new password</label>
            <input type="password" id="newPassword2" class="form-control" placeholder="new password" th:field="*{password2}" />
        </div>
        <input type="submit" value="Confirm" class="btn btn-success"/>
    </div>
</form>
</body>
</html>