<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete user account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="C:\Users\salik\IdeaProjects\SWC-obligatorisk-opgave\src\main\resources\static\styleSheet.css"
          th:href="@{styleSheet.css}"/>


</head>

<body>
<form>
    <div class="container">
        <h1 class="h1-login">Confirm deleting account</h1>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password"/>
        </div>
        <input type="submit" value="Delete" class="btn btn-success" > </input>

    </div>
</form>
</body>
</html>