<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to the frontpage!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link rel="stylesheet" href="C:\Users\Mathias\Dropbox\Datamatiker\SWC\Projects\Obligatorisk opgave SWC\src\main\resources\static\styleSheet.css"
    th:href="@{styleSheet.css}"/>
</head>
<body class="index-body">
<h1 class="h1-login">Welcome to the user system!</h1>
<div th:if="${deleteSuccess}">
    <div class="alert alert-danger">
        Account has been deleted
    </div>
</div>
<br />
<br />
<br />
<div class="buttons">
<a type="button" th:href="@{/login}" class="btn btn-primary">Login</a>
<a type="button" th:href="@{/register}" class="btn btn-primary">Register</a>
</div>
</body>
</html>