<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register / create user page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
</head>
<body>

<br>
<br>
<p>Welcome to the register page. Please insert your information in the fields below</p>
<br>


<form>

    Username:<br>
    <input type="text" name="username" value="">
    <br>
    Password:<br>
    <input type="text" name="password" value="">
    <br>
    E-mail:<br>
    <input type="text" name="E-mail"   value="">
    <br>
    Adress:<br>
    <input type="text" name="Adress"   value="">
    <br>
    <br>
    <br>
    <input type="submit" value="Submit"onclick="alert('Your account has been created')">





</body>
</html>